body{
  background-color:red;
  margin:15px;
  padding:15px;
}
nav{
  display: flex;
  flex-direction: column;
}
nav a{
  color:white;
  text-decoration: none;
}
nav a:hover{
  color:blue;
  font-size: 50px;
}
ul li{
  color: rgb(107, 233, 255);
  font-size: 20px;
}
ol{
  color:#16f35c;
  font-size:30px;
}
.firstSection{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: blue;
}
.card{
  background-color: rgb(255, 255, 255, 50%);
}
