*{
	--navColor: #242f40;
	--bodyColor: #e5e5e5;
	--goldenYellow: #cca43b;
	--lightBlue: #5a91e7;
	--gunMetalGrey: #363636;
}
body{
	margin:0;
	padding:0;
	background-color: var(--bodyColor);
}
/* temporary*/
img{
	width:400px;
}
/* temporary*/


nav{
	background-color: var(--navColor);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15em;
}
nav img{
	border-radius: 100%;
	width: 10em;
	height: 10em;
}
nav svg{
	position: absolute;
}
.firstSection{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.firstSection h1{
	text-align: center;
}
.firstSection img{
	width:90vw;
	height: 60vw;
	box-shadow: 1px 1px 25px 14px #00000033
}
.secondSection{
	background-color: var(--goldenYellow);
}
.secondSection h1{
	text-align: center;
}
.content{
	margin: 3em;
}
.content:nth-child(2){
	display: flex;
	flex-direction: column;
	align-items:flex-end;
}
.donate{
	background-color: var(--bodyColor);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.donate button{
	background-color: var(--lightBlue);
	border: none;
	border-radius: 100%;
}
.products{
	background-color: var(--gunMetalGrey);
	height:500px;
}
.products h1, ul{
	padding-top: 3em;
	text-align: center;
	color:var(--bodyColor);
	list-style-type: none;
}
.products ul{
	font-size: 2em;
	padding:0;
	margin:0;
}
.products li{
	padding-bottom:.5em;
}