*{
	--navColor: #242f40;
	--bodyColor: #e5e5e5;
	--lightTextColor:#e8e9ea;
	--goldenYellow: #cca43b;
	--lightBlue: #5a91e7;
	--gunMetalGrey: #363636;
}
body{
	margin:0;
	padding:0;
	background-color: var(--bodyColor);
}
p{
	margin: 0;
}

nav{
	background-color: var(--navColor);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15em;
}
nav img{
	border-radius: 100%;
	width: 10em;
	height: 10em;
}
nav svg{
	position: absolute;
}
.firstSection{
	width:100%;
	display: flex;
	flex-direction: column;
}
.firstSection h1{
	font-family: Oswald;
	font-size: 52px;
	font-weight: 500;
	align-self:left;
	margin-left:1em;
}
.firstSection img{
	align-self: center;
	width:90vw;
	height: 60vw;
	box-shadow: 1px 1px 25px 14px #00000033
}
.firstSection p{
	font-family: "Source Code Pro";
	font-weight: 200;
}
.secondSection{
	background-color: var(--goldenYellow);
}
.secondSection h1{
	text-align: center;
	font-size: 59px;
}
.content{
	margin: 3em;
	font-family: Source Code Pro;
}
.content :nth-child(odd){
	font-weight: 100;
}


.content:nth-child(2){
	display: flex;
	flex-direction: column;
	align-items:flex-end;
}
.donate{
	background-color: var(--bodyColor);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:1em;
	padding-bottom:4em;
	
}
.donate button{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--lightBlue);
	border: none;
	padding:2em 5em;
  width: 20em;
	height: 4em;
	border-radius: 100px 100px 100px 100px;
	
}
.donate p{
	font-family: Source Code Pro;
}
.products{
	background-color: var(--gunMetalGrey);
	height:500px;
}
.products h1, ul{
	padding-top: 3em;
	color:var(--lightTextColor);
	list-style-type: none;
}
.products h1{
	text-align: center;
}
.products ul{
	font-size: 2em;
	padding:0;
	margin:0;
}
.products li{
	padding-bottom:.5em;
	margin-left: 4em;
}
.products p{
	margin-right: 4em;
}
.priceContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.priceContainer p{
	font-family:Source Code Pro;
	font-weight: 100;
}